--extra-index-url https://d33sy5i8bnduwe.cloudfront.net/simple/
bcrypt==4.3.0
python-dotenv==1.1.0
fastapi==0.115.12
httpx==0.28.1
PyJWT==2.10.1
motor==3.7.0
pydantic==2.11.1
requests==2.32.3
starlette==0.45.3
uvicorn==0.34.2
websockets==15.0.1
websocket-client==1.9.0
python-multipart==0.0.20
stripe==14.4.1
pymongo==4.12.1
dnspython==2.7.0
emergentintegrations==0.1.0
